.vscode/
ugly/
build/
.DS_Store
*.a
*.o
*.out
*.obj
*.csv
*.dylib
*.lib
*.log
*.exe
*.x
*.bk
*.mod
GPTL/
CHK/
DATA/
DAT/
help.txt
*.rf
*.bin
pilgrim-logs/

# Don't ignore timing.h and timing.c
*.dSYM
Makefile.in
